<div class="row">
    <div class="col-md-8" style="border:red 1px solid">
        <div class="table-responsive" *ngIf="products">
            <div class="row">
                <ul *ngFor="let product of products ;trackBy: trackId" class="col-sm-12 col-md-6 col-lg-4">
                    <li><a [routerLink]="['../product', product.id ]">{{product.productName}}</a></li>
                    <li>{{product.productDesc}}</li>
                    <li>{{product.price}}</li>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" [disabled]="isSaving" class="btn btn-primary" (click)="save(product.id)">
                                <span class="fa fa-cart-plus"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.addCart">카트담기</span>
                            </button>
                        </div>
                    </td>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="border:blue 1px solid">
        카트 영역
        <jhi-my-cart-items></jhi-my-cart-items>
    </div>
</div>
